In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Full_Join_Cleaned.csv')
df.head(2)

,customer_no,feature_1,feature_4,feature_5,feature_6,feature_7,feature_11,feature_19,feature_23,feature_25,...,feature_78.1,feature_79,tot_high_credit_amt,tot_cur_balance_amt,total_amt_past_due,tot_creditlimit,tot_cashlimit,enq_amt,total_enq_count,Bad_label
0,1,Insignia,2.0,Card Setup,14.0,500000.0,Y,1.0,N,1.0,...,1.0,N,7900063.0,4714857,2538209.0,670000.0,168000.0,4981150,18,0
1,2,Insignia,1.0,Card Setup,14.0,1200000.0,Y,1.0,N,1.0,...,1.0,N,1117595.0,30754,0.0,1000000.0,1.0,6676682006,68,0

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
df.head(2)

,customer_no,feature_1,feature_4,feature_5,feature_6,feature_7,feature_11,feature_19,feature_23,feature_25,feature_26,feature_27,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_40,feature_41,feature_42,feature_44,feature_46,feature_48,feature_55,feature_56,feature_58,feature_59,feature_60,feature_62,feature_64,feature_66,feature_67,feature_68,feature_69,feature_71,feature_72,feature_78,feature_78.1,feature_79,tot_high_credit_amt,tot_cur_balance_amt,total_amt_past_due,tot_creditlimit,tot_cashlimit,enq_amt,total_enq_count,Bad_label
0,1,Insignia,2.0,Card Setup,14.0,500000.0,Y,1.0,N,1.0,2.0,others,400610.0,1965.0,0.0,Self,Y,2.0,90000.0,others,others,0.0,0.0,0.0,400059.0,PAN Card,The Ratnakar Bank Ltd.,1.0,21.0,Y,Y,N,Y,21.0,400610.0,0.0,2.0,90000.0,21.0,R,1.0,1.0,N,7900063.0,4714857,2538209.0,670000.0,168000.0,4981150,18,0
1,2,Insignia,1.0,Card Setup,14.0,1200000.0,Y,1.0,N,1.0,2.0,others,560042.0,1969.0,0.0,Self,Y,2.0,1.0,others,others,0.0,0.0,0.0,560042.0,PAN Card,The Ratnakar Bank Ltd.,1.0,17.0,Y,Y,N,Y,17.0,560042.0,0.0,2.0,1.0,17.0,R,1.0,1.0,N,1117595.0,30754,0.0,1000000.0,1.0,6676682006,68,0

In [5]:
df.columns

Index(['customer_no', 'feature_1', 'feature_4', 'feature_5', 'feature_6',
       'feature_7', 'feature_11', 'feature_19', 'feature_23', 'feature_25',
       'feature_26', 'feature_27', 'feature_29', 'feature_30', 'feature_31',
       'feature_32', 'feature_33', 'feature_34', 'feature_35', 'feature_36',
       'feature_37', 'feature_40', 'feature_41', 'feature_42', 'feature_44',
       'feature_46', 'feature_48', 'feature_55', 'feature_56', 'feature_58',
       'feature_59', 'feature_60', 'feature_62', 'feature_64', 'feature_66',
       'feature_67', 'feature_68', 'feature_69', 'feature_71', 'feature_72',
       'feature_78', 'feature_78.1', 'feature_79', 'tot_high_credit_amt',
       'tot_cur_balance_amt', 'total_amt_past_due', 'tot_creditlimit',
       'tot_cashlimit', 'enq_amt', 'total_enq_count', 'Bad_label'],
      dtype='object')

In [6]:
from sklearn.preprocessing import LabelEncoder

ToEncodeVars = ['feature_1','feature_5','feature_11','feature_23','feature_27', 'feature_30','feature_32','feature_33',
                'feature_36','feature_37','feature_46','feature_48','feature_58',
                'feature_59','feature_60','feature_62','feature_72','feature_79']
enc=LabelEncoder()

In [7]:
ToEncodeVars

['feature_1',
 'feature_5',
 'feature_11',
 'feature_23',
 'feature_27',
 'feature_30',
 'feature_32',
 'feature_33',
 'feature_36',
 'feature_37',
 'feature_46',
 'feature_48',
 'feature_58',
 'feature_59',
 'feature_60',
 'feature_62',
 'feature_72',
 'feature_79']

In [8]:
for i in ToEncodeVars:
    df[i] = enc.fit_transform(df[i])

In [9]:
df.head(2)

,customer_no,feature_1,feature_4,feature_5,feature_6,feature_7,feature_11,feature_19,feature_23,feature_25,feature_26,feature_27,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_40,feature_41,feature_42,feature_44,feature_46,feature_48,feature_55,feature_56,feature_58,feature_59,feature_60,feature_62,feature_64,feature_66,feature_67,feature_68,feature_69,feature_71,feature_72,feature_78,feature_78.1,feature_79,tot_high_credit_amt,tot_cur_balance_amt,total_amt_past_due,tot_creditlimit,tot_cashlimit,enq_amt,total_enq_count,Bad_label
0,1,1,2.0,0,14.0,500000.0,1,1.0,0,1.0,2.0,10,400610.0,1,0.0,4,1,2.0,90000.0,9,11,0.0,0.0,0.0,400059.0,2,50,1.0,21.0,1,1,0,1,21.0,400610.0,0.0,2.0,90000.0,21.0,1,1.0,1.0,0,7900063.0,4714857,2538209.0,670000.0,168000.0,4981150,18,0
1,2,1,1.0,0,14.0,1200000.0,1,1.0,0,1.0,2.0,10,560042.0,5,0.0,4,1,2.0,1.0,9,11,0.0,0.0,0.0,560042.0,2,50,1.0,17.0,1,1,0,1,17.0,560042.0,0.0,2.0,1.0,17.0,1,1.0,1.0,0,1117595.0,30754,0.0,1000000.0,1.0,6676682006,68,0

In [10]:
x = df.iloc[:, :-1]
x.head()

,customer_no,feature_1,feature_4,feature_5,feature_6,feature_7,feature_11,feature_19,feature_23,feature_25,feature_26,feature_27,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_40,feature_41,feature_42,feature_44,feature_46,feature_48,feature_55,feature_56,feature_58,feature_59,feature_60,feature_62,feature_64,feature_66,feature_67,feature_68,feature_69,feature_71,feature_72,feature_78,feature_78.1,feature_79,tot_high_credit_amt,tot_cur_balance_amt,total_amt_past_due,tot_creditlimit,tot_cashlimit,enq_amt,total_enq_count
0,1,1,2.0,0,14.0,500000.0,1,1.0,0,1.0,2.0,10,400610.0,1,0.0,4,1,2.0,90000.0,9,11,0.0,0.0,0.0,400059.0,2,50,1.0,21.0,1,1,0,1,21.0,400610.0,0.0,2.0,90000.0,21.0,1,1.0,1.0,0,7900063.0,4714857,2538209.0,670000.0,168000.0,4981150,18
1,2,1,1.0,0,14.0,1200000.0,1,1.0,0,1.0,2.0,10,560042.0,5,0.0,4,1,2.0,1.0,9,11,0.0,0.0,0.0,560042.0,2,50,1.0,17.0,1,1,0,1,17.0,560042.0,0.0,2.0,1.0,17.0,1,1.0,1.0,0,1117595.0,30754,0.0,1000000.0,1.0,6676682006,68
2,3,1,1.0,0,14.0,700000.0,1,2.0,0,1.0,0.0,10,560042.0,2,0.0,4,1,2.0,1.0,9,11,0.0,0.0,0.0,560042.0,2,56,3.0,17.0,0,1,0,1,17.0,560042.0,0.0,2.0,1.0,17.0,1,1.0,1.0,0,121523.0,17864,0.0,0.0,0.0,3400000,1
3,4,1,1.0,0,14.0,500000.0,1,1.0,0,1.0,3.0,10,411001.0,24,0.0,4,1,2.0,100000.0,9,11,0.0,0.0,0.0,411026.0,2,50,1.0,21.0,1,1,0,1,21.0,411001.0,0.0,2.0,100000.0,21.0,1,1.0,1.0,0,12304664.0,1845569,0.0,956000.0,361000.0,50810000,34
4,5,1,3.0,0,14.0,500000.0,1,1.0,0,1.0,3.0,10,122009.0,31,0.0,4,1,2.0,300000.0,9,11,0.0,0.0,0.0,122009.0,2,50,1.0,13.0,1,1,0,1,13.0,122009.0,0.0,2.0,300000.0,13.0,1,1.0,1.0,0,12817505.0,7973,0.0,0.0,0.0,2000,2

In [11]:
df.isnull().sum()

customer_no            0
feature_1              0
feature_4              0
feature_5              0
feature_6              0
feature_7              0
feature_11             0
feature_19             0
feature_23             0
feature_25             0
feature_26             0
feature_27             0
feature_29             0
feature_30             0
feature_31             0
feature_32             0
feature_33             0
feature_34             0
feature_35             0
feature_36             0
feature_37             0
feature_40             0
feature_41             0
feature_42             0
feature_44             0
feature_46             0
feature_48             0
feature_55             0
feature_56             0
feature_58             0
feature_59             0
feature_60             0
feature_62             0
feature_64             0
feature_66             0
feature_67             0
feature_68             0
feature_69             0
feature_71             0
feature_72             0
feature_78             0
feature_78.1           0
feature_79             0
tot_high_credit_amt    0
tot_cur_balance_amt    0
total_amt_past_due     0
tot_creditlimit        0
tot_cashlimit          0
enq_amt                0
total_enq_count        0
Bad_label              0
dtype: int64

In [12]:
df1 = df.drop('Bad_label',axis=1)
df1.head()

,customer_no,feature_1,feature_4,feature_5,feature_6,feature_7,feature_11,feature_19,feature_23,feature_25,feature_26,feature_27,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_40,feature_41,feature_42,feature_44,feature_46,feature_48,feature_55,feature_56,feature_58,feature_59,feature_60,feature_62,feature_64,feature_66,feature_67,feature_68,feature_69,feature_71,feature_72,feature_78,feature_78.1,feature_79,tot_high_credit_amt,tot_cur_balance_amt,total_amt_past_due,tot_creditlimit,tot_cashlimit,enq_amt,total_enq_count
0,1,1,2.0,0,14.0,500000.0,1,1.0,0,1.0,2.0,10,400610.0,1,0.0,4,1,2.0,90000.0,9,11,0.0,0.0,0.0,400059.0,2,50,1.0,21.0,1,1,0,1,21.0,400610.0,0.0,2.0,90000.0,21.0,1,1.0,1.0,0,7900063.0,4714857,2538209.0,670000.0,168000.0,4981150,18
1,2,1,1.0,0,14.0,1200000.0,1,1.0,0,1.0,2.0,10,560042.0,5,0.0,4,1,2.0,1.0,9,11,0.0,0.0,0.0,560042.0,2,50,1.0,17.0,1,1,0,1,17.0,560042.0,0.0,2.0,1.0,17.0,1,1.0,1.0,0,1117595.0,30754,0.0,1000000.0,1.0,6676682006,68
2,3,1,1.0,0,14.0,700000.0,1,2.0,0,1.0,0.0,10,560042.0,2,0.0,4,1,2.0,1.0,9,11,0.0,0.0,0.0,560042.0,2,56,3.0,17.0,0,1,0,1,17.0,560042.0,0.0,2.0,1.0,17.0,1,1.0,1.0,0,121523.0,17864,0.0,0.0,0.0,3400000,1
3,4,1,1.0,0,14.0,500000.0,1,1.0,0,1.0,3.0,10,411001.0,24,0.0,4,1,2.0,100000.0,9,11,0.0,0.0,0.0,411026.0,2,50,1.0,21.0,1,1,0,1,21.0,411001.0,0.0,2.0,100000.0,21.0,1,1.0,1.0,0,12304664.0,1845569,0.0,956000.0,361000.0,50810000,34
4,5,1,3.0,0,14.0,500000.0,1,1.0,0,1.0,3.0,10,122009.0,31,0.0,4,1,2.0,300000.0,9,11,0.0,0.0,0.0,122009.0,2,50,1.0,13.0,1,1,0,1,13.0,122009.0,0.0,2.0,300000.0,13.0,1,1.0,1.0,0,12817505.0,7973,0.0,0.0,0.0,2000,2

In [13]:
y=df['Bad_label']

In [14]:
y.head(3)

0    0
1    0
2    0
Name: Bad_label, dtype: int64

In [15]:
x1=df1.iloc[:,:-1]
x1.head()

,customer_no,feature_1,feature_4,feature_5,feature_6,feature_7,feature_11,feature_19,feature_23,feature_25,feature_26,feature_27,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_40,feature_41,feature_42,feature_44,feature_46,feature_48,feature_55,feature_56,feature_58,feature_59,feature_60,feature_62,feature_64,feature_66,feature_67,feature_68,feature_69,feature_71,feature_72,feature_78,feature_78.1,feature_79,tot_high_credit_amt,tot_cur_balance_amt,total_amt_past_due,tot_creditlimit,tot_cashlimit,enq_amt
0,1,1,2.0,0,14.0,500000.0,1,1.0,0,1.0,2.0,10,400610.0,1,0.0,4,1,2.0,90000.0,9,11,0.0,0.0,0.0,400059.0,2,50,1.0,21.0,1,1,0,1,21.0,400610.0,0.0,2.0,90000.0,21.0,1,1.0,1.0,0,7900063.0,4714857,2538209.0,670000.0,168000.0,4981150
1,2,1,1.0,0,14.0,1200000.0,1,1.0,0,1.0,2.0,10,560042.0,5,0.0,4,1,2.0,1.0,9,11,0.0,0.0,0.0,560042.0,2,50,1.0,17.0,1,1,0,1,17.0,560042.0,0.0,2.0,1.0,17.0,1,1.0,1.0,0,1117595.0,30754,0.0,1000000.0,1.0,6676682006
2,3,1,1.0,0,14.0,700000.0,1,2.0,0,1.0,0.0,10,560042.0,2,0.0,4,1,2.0,1.0,9,11,0.0,0.0,0.0,560042.0,2,56,3.0,17.0,0,1,0,1,17.0,560042.0,0.0,2.0,1.0,17.0,1,1.0,1.0,0,121523.0,17864,0.0,0.0,0.0,3400000
3,4,1,1.0,0,14.0,500000.0,1,1.0,0,1.0,3.0,10,411001.0,24,0.0,4,1,2.0,100000.0,9,11,0.0,0.0,0.0,411026.0,2,50,1.0,21.0,1,1,0,1,21.0,411001.0,0.0,2.0,100000.0,21.0,1,1.0,1.0,0,12304664.0,1845569,0.0,956000.0,361000.0,50810000
4,5,1,3.0,0,14.0,500000.0,1,1.0,0,1.0,3.0,10,122009.0,31,0.0,4,1,2.0,300000.0,9,11,0.0,0.0,0.0,122009.0,2,50,1.0,13.0,1,1,0,1,13.0,122009.0,0.0,2.0,300000.0,13.0,1,1.0,1.0,0,12817505.0,7973,0.0,0.0,0.0,2000

In [16]:
x1.drop('customer_no', axis = 1, inplace = True)
x1.head(2)

,feature_1,feature_4,feature_5,feature_6,feature_7,feature_11,feature_19,feature_23,feature_25,feature_26,feature_27,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_40,feature_41,feature_42,feature_44,feature_46,feature_48,feature_55,feature_56,feature_58,feature_59,feature_60,feature_62,feature_64,feature_66,feature_67,feature_68,feature_69,feature_71,feature_72,feature_78,feature_78.1,feature_79,tot_high_credit_amt,tot_cur_balance_amt,total_amt_past_due,tot_creditlimit,tot_cashlimit,enq_amt
0,1,2.0,0,14.0,500000.0,1,1.0,0,1.0,2.0,10,400610.0,1,0.0,4,1,2.0,90000.0,9,11,0.0,0.0,0.0,400059.0,2,50,1.0,21.0,1,1,0,1,21.0,400610.0,0.0,2.0,90000.0,21.0,1,1.0,1.0,0,7900063.0,4714857,2538209.0,670000.0,168000.0,4981150
1,1,1.0,0,14.0,1200000.0,1,1.0,0,1.0,2.0,10,560042.0,5,0.0,4,1,2.0,1.0,9,11,0.0,0.0,0.0,560042.0,2,50,1.0,17.0,1,1,0,1,17.0,560042.0,0.0,2.0,1.0,17.0,1,1.0,1.0,0,1117595.0,30754,0.0,1000000.0,1.0,6676682006

### Scaling the data

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x1 = scaler.fit_transform(x1)
x1

array([[1.66666667e-01, 5.00000000e-01, 0.00000000e+00, ...,
        7.68568441e-02, 1.52866242e-01, 6.99628008e-04],
       [1.66666667e-01, 0.00000000e+00, 0.00000000e+00, ...,
        1.14711708e-01, 9.09918107e-07, 9.37774156e-01],
       [1.66666667e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 4.77547399e-04],
       ...,
       [6.66666667e-01, 1.00000000e+00, 0.00000000e+00, ...,
        1.60596391e-03, 6.36942675e-03, 1.43264220e-05],
       [5.00000000e-01, 1.00000000e+00, 0.00000000e+00, ...,
        1.88127201e-02, 3.61237489e-02, 1.02110870e-04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.69773327e-02, 2.31119199e-02, 1.60146939e-03]])

### Spliting the training and testing data

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1, y, test_size=0.20, random_state=45)

In [19]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(19104, 48)
(4777, 48)
(19104,)
(4777,)

In [20]:
from collections import Counter

In [21]:
Counter(y_train)

Counter({0: 18277, 1: 827})

In [22]:
print(type(x_train))
print(type(y_train))

<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>

In [23]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [24]:
x_sm, y_sm = smote.fit_resample(x_train, y_train)

AttributeError: 'NoneType' object has no attribute 'split'

### Logistic_Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression()
LR.fit(x_sm, y_sm)

In [ ]:
y_pred = LR.predict(x_test)
y_pred

In [ ]:
from sklearn.metrics import accuracy_score, precision_score,recall_score, f1_score, confusion_matrix, classification_report

In [ ]:
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

## DecisionTree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DC = DecisionTreeClassifier()
DC.fit(x_sm, y_sm)

In [ ]:
y_pred3 = DC.predict(x_test)

In [ ]:
# Model Evaluation
print(classification_report(y_test, y_pred3))
print(f1_score(y_test, y_pred3))
print(accuracy_score(y_test, y_pred3))
print(precision_score(y_test, y_pred3))
print(recall_score(y_test, y_pred3))

### Ramdom Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier()
RF.fit(x_sm, y_sm)

In [ ]:
y_pred4 = RF.predict(x_test)
y_pred4

In [ ]:
# Model Evaluation
print(classification_report(y_test, y_pred4))
print(f1_score(y_test, y_pred4))
print(accuracy_score(y_test, y_pred4))
print(precision_score(y_test, y_pred4))
print(recall_score(y_test, y_pred4))

## XGBoosting

In [ ]:
# model creation
from xgboost import XGBClassifier
XG = XGBClassifier()
XG.fit(x_sm, y_sm)

In [ ]:
y_pred5 = XG.predict(x_test)

In [ ]:
# Model Evaluation
print(classification_report(y_test, y_pred5))
print(f1_score(y_test, y_pred5))
print(accuracy_score(y_test, y_pred5))
print(precision_score(y_test, y_pred5))
print(recall_score(y_test, y_pred5))

## Hyperparameter Tuning

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
n_estimators = [int(x) for x in np.linspace(start=200, stop=2000, num=10)]#List Comprehension-using for loop in list
max_features = ['auto', 'sqrt']#maximum number of features allowed to try in individual tree
max_depth = [int(x) for x in np.linspace(10, 110, num=11)]#List Comprehension-using for loop in list
min_samples_split = [2, 5, 10]#minimum number of samples required to split an internal node
min_samples_leaf = [1, 2, 4]#minimum number of samples required to be at a leaf node.
bootstrap = [True, False]#sampling 

#dictionary for hyperparameters
random_grid = {'n_estimators': n_estimators, 'max_features': max_features,
               'max_depth': max_depth, 'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf, 'bootstrap': bootstrap}

rf_clf1 = RandomForestClassifier(random_state=42)#model

rf_cv = RandomizedSearchCV(estimator=rf_clf1, scoring='f1',param_distributions=random_grid, n_iter=100, cv=3, 
                               verbose=2, random_state=42, n_jobs=-1)

In [ ]:
rf_cv.fit(x_sm, y_sm)

In [ ]:
rf_best_params = rf_cv.best_params_
print(f"Best paramters: {rf_best_params})")

In [ ]:
rf_clf2 = RandomForestClassifier(n_estimators= 200, min_samples_split= 2, min_samples_leaf= 1, max_features= 'sqrt', max_depth= 110, bootstrap= False)#passing best parameter to randomforest
rf_clf2.fit(x_train, y_train)#training

In [ ]:
y_predict=rf_clf2.predict(x_test)
f1=f1_score(y_test,y_predict)

In [ ]:
f1

In [ ]:
print(classification_report(y_test, y_predict))
print(accuracy_score(y_test, y_predict))
print(precision_score(y_test, y_predict))
print(recall_score(y_test, y_predict))